html {
  font-size: 18px;
  font-family: sans-serif;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  color: white;
  background-color: rgb(17, 17, 17);
}
body {
  margin: 0;
}
h1 {
  text-align: center;
}
#bg {
  width: 100%;
  height: 100%;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.info {
  padding: 0.4rem 8rem;
}
